.board
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    /* align-items: center;
    justify-content: center; */
    /* justify-items: center; */
    width: 100%;
}

.win-board {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}