.board--unit--unchecked 
{
    background-color: #FFDEAD;
}

.board--unit--checked 
{
    background-color: #00FF00;
}


.board--unit
{
    /* width: 150px; */
    /* height: 150px; */
    border: 2px solid black;
    border-radius: 5px;
    transition: all 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    user-select: none;
    font-weight: bold;
    font-size: 18;
    font-style: italic;
}

.board--unit:hover {

    scale: 1.1;
    cursor: pointer;

}