* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

#main-wrapper
{
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80vw;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
}